# SQLAlchemy Practice

## Set-Up

Begin by importing packages.

In [26]:
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String # datatypes
from sqlalchemy import ForeignKey

from sqlalchemy import and_, or_, asc, desc, between # conjunctions
from sqlalchemy import text # for textual statements

from sqlalchemy.sql import select 
from sqlalchemy.sql import alias # represents 'as' in sql
from sqlalchemy.sql import func # standard sql functions

from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy.orm import sessionmaker

# Misc
import os

In the course of the notebook some files are created. We delete them if they already exist for a clean slate.

In [2]:
def remove_file(path):
    if os.path.isfile(path):
        os.remove(path)

        
COLLEGE_DB_PATH = 'college.db'
SALES_DB_PATH = 'sales.db'

remove_file(COLLEGE_DB_PATH)
remove_file(SALES_DB_PATH)

**SQLAlchemy** is a Python toolkit for dealing with databases. It has two ways of interacting with them.

**SQLAlchemy Core:** Uses SQL Expression Language that provides schema-centric usage paradigm
- **SQL Expression Language** allows you represent structures in a relational database using Python
- You can specify SQL statements in Python and use it directly
- This is the closest part to raw SQL in SQLAlchemy

**SQLAlchemy ORM:** Allows classes to be mapped to tables in the database to provide domain-centric usage.

## Resources

Quick Guide: https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_quick_guide.htm

## SQLAlchemy Core

### Connecting to Database

**Engine:** Class that provides a source of database connectivity and behaviour.

**MetaData:** A collection of *Table* objects and associated schema constructs
- Has an optional binding to an engine

In [3]:
# Define local sqlite database to be hosted in repo
engine = create_engine(
    os.path.join('sqlite:///', COLLEGE_DB_PATH), # Different syntax for different database types
    echo = True # sets up SQLAlchemy logging - print SQL used
)
meta = MetaData()

# Define table
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

# Use engine object to create table and other objects and store info in metadata
# This creates the local database
meta.create_all(engine)

2021-06-09 17:28:14,796 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-06-09 17:28:14,797 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2021-06-09 17:28:14,798 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-09 17:28:14,799 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")
2021-06-09 17:28:14,802 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-09 17:28:14,805 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)


2021-06-09 17:28:14,806 INFO sqlalchemy.engine.Engine [no key 0.00130s] ()
2021-06-09 17:28:14,809 INFO sqlalchemy.engine.Engine COMMIT

**SQL expressions:** Constructed by using methods on tables
- Print corresponding SQL code using `str(<exp>)` (doesn't hold specific values)
- Specific values are stored in bind parameter which is visible in compiled form

**Connection:** Represents an active *DBAPI* (Python Database API) connection
- Run expressions by passing to `execute(<exp>)` method on connection
- This also returns `ResultProxy` object that holds information

In [4]:
# Insert expression
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')

# Equivalent SQL insert statement (without specific values)
print(str(ins))

# Specific values are stored in bind parameter which is visible in compiled form
print(ins.compile().params)

INSERT INTO students (name, lastname) VALUES (:name, :lastname)
{'name': 'Ravi', 'lastname': 'Kapoor'}

In [5]:
# Create connection to database
conn = engine.connect()
result = conn.execute(ins)

# Check last set of params inserted
print(result.last_inserted_params())

2021-06-09 17:28:14,832 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2021-06-09 17:28:14,836 INFO sqlalchemy.engine.Engine [generated in 0.00438s] ('Ravi', 'Kapoor')
2021-06-09 17:28:14,838 INFO sqlalchemy.engine.Engine COMMIT
{'name': 'Ravi', 'lastname': 'Kapoor'}

In [6]:
# Can insert many rows at once by passing list of dictionaries
conn.execute(students.insert(), [
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
]);

2021-06-09 17:28:14,847 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2021-06-09 17:28:14,850 INFO sqlalchemy.engine.Engine [generated in 0.00301s] (('Rajiv', 'Khanna'), ('Komal', 'Bhandari'), ('Abdul', 'Sattar'), ('Priya', 'Rajhans'))
2021-06-09 17:28:14,855 INFO sqlalchemy.engine.Engine COMMIT

### Basic Select Statements

**Select:** Either a method on table or function with table as argument
- Limit columns by passing specific columns as argument of `select()` function
- Columns referenced using `<table>.c.<column>` (`c` is an alias for 'column')
- Rename columns using `.label()` method on columns in `select`

**ResultProxy:** Object returned by executing select
- Is iterable with items corresponding to rows
- Has other methods for accessing results: `fetchone()`, `fetchall()`,...

In [7]:
# Select all
s = students.select()
print('Equivalent SQL')
print('--------------')
print(str(s), '\n')

# Run expression
result = conn.execute(s)
print('')

for row in result:
    print(row)

Equivalent SQL
--------------
SELECT students.id, students.name, students.lastname
FROM students

2021-06-09 17:28:14,889 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2021-06-09 17:28:14,892 INFO sqlalchemy.engine.Engine [generated in 0.00389s] ()

(1, 'Ravi', 'Kapoor')
(2, 'Rajiv', 'Khanna')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')

In [8]:
# Alternative syntax
s = select(students)
print('Equivalent SQL')
print('--------------')
print(str(s), '\n')

# Run expression
result = conn.execute(s)
result.fetchall()

Equivalent SQL
--------------
SELECT students.id, students.name, students.lastname
FROM students

2021-06-09 17:28:14,922 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2021-06-09 17:28:14,923 INFO sqlalchemy.engine.Engine [cached since 0.03504s ago] ()

[(1, 'Ravi', 'Kapoor'),
 (2, 'Rajiv', 'Khanna'),
 (3, 'Komal', 'Bhandari'),
 (4, 'Abdul', 'Sattar'),
 (5, 'Priya', 'Rajhans')]

In [9]:
# Specific columns
s = select(
    students.c.name, 
    students.c.lastname.label('surname')
)
print('Equivalent SQL')
print('--------------')
print(str(s), '\n')

# Run expression
result = conn.execute(s)
result.fetchall()

Equivalent SQL
--------------
SELECT students.name, students.lastname AS surname
FROM students

2021-06-09 17:28:14,957 INFO sqlalchemy.engine.Engine SELECT students.name, students.lastname AS surname
FROM students
2021-06-09 17:28:14,961 INFO sqlalchemy.engine.Engine [generated in 0.00396s] ()

[('Ravi', 'Kapoor'),
 ('Rajiv', 'Khanna'),
 ('Komal', 'Bhandari'),
 ('Abdul', 'Sattar'),
 ('Priya', 'Rajhans')]

### Where Clauses

**Where:** Use `.where()` method on `select` and pass column conditions
- Use `where(_and(<cond1>, <cond2>))` for multiple conditions
- Use `where(between(<col>, <val1>, <val2>)` for between

In [10]:
# Select first 3 rows
s = students.select().where(students.c.id <= 3)
print('Equivalent SQL')
print('--------------')
print(str(s), '\n')

print('Params: ', s.compile().params, '\n')

result = conn.execute(s)
print('')
for row in result:
    print(row)

Equivalent SQL
--------------
SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id <= :id_1

Params:  {'id_1': 3}

2021-06-09 17:28:14,992 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id <= ?
2021-06-09 17:28:14,995 INFO sqlalchemy.engine.Engine [generated in 0.00333s] (3,)

(1, 'Ravi', 'Kapoor')
(2, 'Rajiv', 'Khanna')
(3, 'Komal', 'Bhandari')

In [11]:
# Select Ravi in first 3 rows
s = students.select().where(
    and_(
        students.c.id <= 3,
        students.c.name == 'Ravi'
    )
)
print('Equivalent SQL')
print('--------------')
print(str(s), '\n')

print('Params: ', s.compile().params, '\n')

result = conn.execute(s)
print('')
for row in result:
    print(row)

Equivalent SQL
--------------
SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id <= :id_1 AND students.name = :name_1

Params:  {'id_1': 3, 'name_1': 'Ravi'}

2021-06-09 17:28:15,028 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id <= ? AND students.name = ?
2021-06-09 17:28:15,029 INFO sqlalchemy.engine.Engine [generated in 0.00173s] (3, 'Ravi')

(1, 'Ravi', 'Kapoor')

In [12]:
# Select students with 2nd and 3rd ids
s = students.select().where(
    between(
        students.c.id,
        2,
        3
    )
)

print('Equivalent SQL')
print('--------------')
print(str(s), '\n')

print('Params: ', s.compile().params, '\n')

result = conn.execute(s)
print('')
for row in result:
    print(row)

Equivalent SQL
--------------
SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id BETWEEN :id_1 AND :id_2

Params:  {'id_1': 2, 'id_2': 3}

2021-06-09 17:28:15,065 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id BETWEEN ? AND ?
2021-06-09 17:28:15,069 INFO sqlalchemy.engine.Engine [generated in 0.00414s] (2, 3)

(2, 'Rajiv', 'Khanna')
(3, 'Komal', 'Bhandari')

### Textual SQL

**TextClause:** Represents an SQL statement directly
- Constructed by passing SQL query into `text(<string>)`
- Parameters are denoted by colons and passed as kwargs into `execute()`
- Good when SQL is known and static

In [13]:
s = text('SELECT * FROM students WHERE students.id <= :x AND students.name = :y')
result = conn.execute(s, x=3, y='Ravi')
print('')

for row in result:
    print(row)

2021-06-09 17:28:15,094 INFO sqlalchemy.engine.Engine SELECT * FROM students WHERE students.id <= ? AND students.name = ?
2021-06-09 17:28:15,095 INFO sqlalchemy.engine.Engine [generated in 0.00177s] (3, 'Ravi')

(1, 'Ravi', 'Kapoor')

### Some Common Operations

**Alias:** Represents 'AS' in SQL statements
- There is a difference between the name of the variable representing alias table and the alias

**Order By:** Use `order_by(asc(<col>))` or `order_by(desc(<col>))` methods on select

**Functions:** Standard SQL functions are accessed through `func`
- Ex: `func.now()`, `func.count()`, `func.max()`

In [14]:
# Variable st represents students table aliased as 'a'
st = students.alias('a')
print('Original table name: ', students.name)
print('Alias table name: ', st.name)
print('')

# Run select all against aliased table
s = st.select().where(st.c.id == 1)
result = conn.execute(s)
result.fetchall()

Original table name:  students
Alias table name:  a

2021-06-09 17:28:15,114 INFO sqlalchemy.engine.Engine SELECT a.id, a.name, a.lastname
FROM students AS a
WHERE a.id = ?
2021-06-09 17:28:15,117 INFO sqlalchemy.engine.Engine [generated in 0.00298s] (1,)

[(1, 'Ravi', 'Kapoor')]

In [15]:
# Select students in alphabetical order
s = select(students).order_by(
    asc(students.c.name)
)
print(str(s))

SELECT students.id, students.name, students.lastname
FROM students ORDER BY students.name ASC

In [16]:
# Count rows in table
s = select(func.count(students.c.id))
print(str(s))

SELECT count(students.id) AS count_1
FROM students

### Joins

In [17]:
# Define new table
addresses = Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer, ForeignKey('students.id')), # Foreign key to students table
   Column('postal_add', String), 
   Column('email_add', String)
)

# Create the table
meta.create_all(engine)

# Populate new table
conn.execute(addresses.insert(), [
   {'st_id':1, 'postal_add':'Shivajinagar Pune', 'email_add':'ravi@gmail.com'},
   {'st_id':1, 'postal_add':'ChurchGate Mumbai', 'email_add':'kapoor@gmail.com'},
   {'st_id':3, 'postal_add':'Jubilee Hills Hyderabad', 'email_add':'komal@gmail.com'},
   {'st_id':5, 'postal_add':'MG Road Bangaluru', 'email_add':'as@yahoo.com'},
   {'st_id':2, 'postal_add':'Cannought Place new Delhi', 'email_add':'admin@khanna.com'},
]);

2021-06-09 17:28:15,162 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-06-09 17:28:15,164 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2021-06-09 17:28:15,165 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-09 17:28:15,169 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("addresses")
2021-06-09 17:28:15,170 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-09 17:28:15,171 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("addresses")
2021-06-09 17:28:15,172 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-09 17:28:15,174 INFO sqlalchemy.engine.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	st_id INTEGER,
	postal_add VARCHAR,
	email_add VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(st_id) REFERENCES students (id)
)


2021-06-09 17:28:15,175 INFO sqlalchemy.engine.Engine [no key 0.00120s] ()
2021-06-09 17:28:15,177 INFO sqlalchemy.engine.Engine COMMIT
2021-06-09 17:28:15,179 INFO sqlalchemy.engine.Engine INSERT INTO addresses (st_id, postal_add, email_add) VALUES (?, ?, ?)
2021-06-09 17:28:15,180 INFO sqlalchemy.engine.Engine [generated in 0.00125s] ((1, 'Shivajinagar Pune', 'ravi@gmail.com'), (1, 'ChurchGate Mumbai', 'kapoor@gmail.com'), (3, 'Jubilee Hills Hyderabad', 'komal@gmail.com'), (5, 'MG Road Bangaluru', 'as@yahoo.com'), (2, 'Cannought Place new Delhi', 'admin@khanna.com'))
2021-06-09 17:28:15,183 INFO sqlalchemy.engine.Engine COMMIT

The simplest way to select from multiple tables is to pass both as arguments of `select` and define join condition in `where` clause

In [18]:
# Select all from both joining on foreign key
s = select(
    students,
    addresses
).where(
    students.c.id == addresses.c.st_id
)
print(str(s))

SELECT students.id, students.name, students.lastname, addresses.id AS id_1, addresses.st_id, addresses.postal_add, addresses.email_add
FROM students, addresses
WHERE students.id = addresses.st_id

**Join:** Method on tables
- Use `select_from()` method on `select` to explicitly set left hand side of join
- Can be multiple ways of phrasing
- Just specifying table name in `select` is equivalent to all columns from that table

In [19]:
# Join on its own
j = students.join(
    addresses,
    students.c.id == addresses.c.st_id,
    isouter = True # outer join - default is false
)
print(str(j))

students LEFT OUTER JOIN addresses ON students.id = addresses.st_id

In [20]:
# As part of select statement
s = select(
    students.c.name,
    students.c.lastname,
    addresses
).select_from(
    j # equivalent to block commented code below
    # students.join(
    #     addresses,
    #     students.c.id == addresses.c.st_id,
    #     isouter=True
    # )
)
print(str(s))

SELECT students.name, students.lastname, addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM students LEFT OUTER JOIN addresses ON students.id = addresses.st_id

In [21]:
# An equivalent formulation
s = select(
    students.c.name,
    students.c.lastname,
    addresses
).select_from(
    students
).join(
    addresses,
    students.c.id == addresses.c.st_id,
    isouter=True
)
print(str(s))

SELECT students.name, students.lastname, addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM students LEFT OUTER JOIN addresses ON students.id = addresses.st_id

## SQLAlchemy ORM

**SQLAlchemy ORM:** Main objective it to associate user-defined Python classes with databases and objects with rows
- Is constructed on top of SQL Expression Language
- High-level and abstracted usage of the Expression Language

### Declaring Mappings

**Declarative System:** Classes created include directives to describe actual database table they are mapped to.

**Declarative Base:** Class that stores catalogue of classes and mapped tables in Declarative system
- Usually only one instance
- Has a `MetaData` object as an attribute

**Mapped Classes:** Subclasses of declarative base that will be mapped to tables
- Must include `__tablename__` attribute giving name of corresponding table
- Includes `Column`s with their datatypes

**Session:** Handle to the database - it encapsulates a single connection to the DB
- `Session` class defined by the engine and a session object is an instantiation of this

In [22]:
# Create engine that describes database
engine = create_engine(
    os.path.join('sqlite:///', SALES_DB_PATH),
    echo = True
)
Base = declarative_base()

class Customers(Base):
   __tablename__ = 'customers'
   id = Column(Integer, primary_key=True)

   name = Column(String)
   address = Column(String)
   email = Column(String)

# Uses metadata of declarative base to turn engine into source of connection
# Issues create table statements for tables that don't yet exist
Base.metadata.create_all(engine)

2021-06-09 17:28:15,248 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-06-09 17:28:15,251 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2021-06-09 17:28:15,252 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-09 17:28:15,255 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customers")
2021-06-09 17:28:15,256 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-09 17:28:15,258 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	id INTEGER NOT NULL,
	name VARCHAR,
	address VARCHAR,
	email VARCHAR,
	PRIMARY KEY (id)
)


2021-06-09 17:28:15,259 INFO sqlalchemy.engine.Engine [no key 0.00107s] ()
2021-06-09 17:28:15,262 INFO sqlalchemy.engine.Engine COMMIT

Now create a session

In [27]:
Session = sessionmaker(bind=engine)
session = Session()